<h4>Esta página ha sido desarrollada por <%= title%></h4>

<img src="/images/autor.jpg" />

<div>  
    <br>
    <iframe width="200" height="100" src="http://www.youtube.com/embed/TKfOc4EkiOE?rel=0" class="img" title="Vídeo con la presentación del curso"></iframe>
</div>
